.newsletter{
    height: 60vh;
    background-color: #fcf5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1{
        font-size: 70px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .desc{
        font-size: 24px;
        font-weight: 300;
    }
    .newsletter-input{
        width: 50%;
        height: 40px;
        background-color: white;
        display: flex;
        justify-content: space-between;
        border: 1px solid lightgray;
        input{
            padding-left: 20px;
            border: none;
            flex: 8;
        }

        button{
            flex: 1;
            border: none;
            background-color: teal;
            color: white;
            .icon{
                font-size: 24px;
            }
        }
    }
}