.productList{
    h1{
        margin: 20px;
    }
    .filterContainer{
        display: flex;
        justify-content: space-between;

        .filter{
            display: flex;
            gap: 20px;
            margin: 20px;
            align-items: center;
            .filterText{
                font-size: 20px;
                font-weight: 600;
                
            }

            .selectProduct{
                padding: 12px;
                margin-right: 0px 20px;

                option{
                    margin: 10px;
                }
            }
            .size{
                padding: 12px;
            }
            .selectNewletter{
                padding: 12px;

            }
        }

        option{
            padding: 10px;
        }
    }
}