.announcement{
    height: 30px;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
    // position: fixed;
    // z-index: 100;
    // top: 0;
    // left: 0;
    // width: 100%;
}